<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf8" />
        <title>Verificación</title>
        <link rel="stylesheet" href="../static/css/styles_login.css" />
    </head>
    <body>  
        
        <div class="login-page">
            <p>
                <h1 style="text-align: center; background: black; color: white; font-size: 55px; border-radius: 5px;">CV Generator</h1>
                <h3>Mensaje: {{ message }}</h3>
            </p>
            <div class="form">
              <form class="register-form" name="register" method="post" action="{{ url_for('index') }}" >
                <input type="text" name="username" placeholder="Nombre de usuario" value="" required/>
                <input type="password" name="password" placeholder="Contraseña" value="" required/>
                <input type="text" name="email" placeholder="Correo electrónico" required/>
                <button>Crear cuenta</button>
                <p class="message">¿Estás registrado? <a href="#" >Iniciar sesión</a></p>
              </form>
              <form class="login-form" name="initializer" method="post" action="{{ url_for('index') }}" >
                <input type="text" name="username" placeholder="Nombre de usuario" value="" required/>
                <input type="password" name="password" placeholder="Contraseña" value="" required/>
                <button>Iniciar sesión</button>
                <p class="message">¿No estás registrado? <a href="#" >Crear nueva cuenta</a></p>
              </form>
            </div>
          </div>
          <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../static/js/script_login.js"></script>
    </body>
</html>